<h1>Crear Rol</h1>

<form method="post">
<div class="form-group">
    <label>Nombre del Rol: </label>
    <input type="text" name="Nombre" class="form-control">
</div>
<button class="btn btn-primary">Crear Rol</button>

</form>