


<h1>Nachos</h1>

<center>
<h2>Registro de Menu </h2>
<form mehod="post">
<div asp-validation-summary="All"></div>

    <div class="form-group">
         <label asp-form="Entrada"></label>
          <input asp-for="Correo" class="form-control">
    </div>    

    <div class="form-group">
        <label asp-form="Fondo"></label>
        <input asp-for="Fondo" class="form-control">
    </div>    

    <div class="form-group">
            <label asp-form="Bebida"></label>
            <input asp-for="Bebida" class="form-control">
    </div>  
    
    <div class="form-group">
            <label asp-form="Fecha"></label>
            <input asp-for="Fecha" class="form-control">
    </div>    

    <button class="btn btn-primary">Registrar</button>

    </form>