@model Menu

<h1>Nachos</h1>


<h2>Registro de Menu </h2>


<form method="post" asp-action="Registro">
<div asp-validation-summary="All"></div>

    <div class="form-group">
         <label asp-for="Entrada"></label>
          <input asp-for="Entrada" class="form-control">
    </div>    

    <div class="form-group">
        <label asp-for="Plato"></label>
        <input asp-for="Plato" class="form-control">
    </div>    

    <div class="form-group">
            <label asp-for="Bebida"></label>
            <input asp-for="Bebida" class="form-control">
    </div>  
    
    <div class="form-group">
            <label asp-for="Fecha"></label>
            <input asp-for="Fecha" class="form-control">
    </div>    

    <button class="btn btn-primary">Registrar</button>

    </form>